@import "./fonts";

// Colors

$main-color: #091827;
$default-white: #ffffff;
$light-gray: #d1d5d7;
$dark-gray: #7e868e;
$green: #00c853;
$red: #f44336;
$light-blue: #00add2;

// Fonts

$main-font: "DIN Pro", sans-serif;
